/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Verdana', sans-serif;
	line-height: 1.6;
	color: #000000;
}

button {
	display: inline-block;
}

p {
	font-size: .95em;
}

img {
	max-width: 100%;
}

#flashMessage {
    color: white;
    background-color: ##1F618D;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
	font-size: 1.1em;
}

.top-content {
	margin-top: 120px;
}

/* ---- Page Elements ---- */

.logo {
	vertical-align: top;
}


.display-4 {
	margin-top: 30px;
}

/* =================================
  Media Queries
==================================== */

@media (max-width: 576px) {

	.camp_vert {
		visibility: hidden;
	}

}


@media (min-width: 576px) {

	.camp_vert {
		visibility: visible;

	}

	.camp_horz {
		visibility: hidden;
	}


}

	/* ---- Float clearfix ---- */

	/* .clearfix::after {
		content: "";
		display: table;
		clear: both;
	} */


	/* =================================

	Pulsing locator pins option

	body { margin: 0 !important; padding: 0 !important; width: 100% !important; }
	* { font-family: 'Avenir Next', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important; }
	.container { position: relative; display: block !important; overflow: hidden; width: 100vw; height: 60vw; background-image:url(https://source.unsplash.com/POqJeWrVfnU/1600x900); background-size: 100vw 60vw; text-align: center; }
	input { display: none; }
	p { margin: 0; }
	.button { display: absolute; color: white; font-weight: bold; font-size: 20px; background-color: #d32f2f; display: block; padding: 8px 16px; border-radius: 100%; cursor: pointer; animation: fadein .5s; animation: pulse 1.5s infinite; }
	.content { background: white; padding: 8px 12px; text-align: center; display: none; position: relative; margin: 0 auto; width: 80%; top: 8vw; height: 40vw; border-radius: 8px; box-shadow: 0 4px 2px -2px rgba(211,47,47,0); }
	.cross { font-weight: bold; }
	.header { font-weight: bold; margin-top: 12px; font-size: 24px; }
	.bodyCopy { margin-top: 18px; }
	#b1 { position: absolute; left: 73vw; top: 12vw; }
	#b2 { position: absolute; left: 42vw; top: 32vw; }
	#b3 { position: absolute; left: 67vw; top: 37vw; }
	#input1:checked ~ #content1 { display: block !important; animation: fadein .5s; }
	#input2:checked ~ #content2 { display: block !important; animation: fadein .5s; }
	#input3:checked ~ #content3 { display: block !important; animation: fadein .5s; }
	input:checked ~ label .button { display: none !important; animation: fadeout .5s; }
	.button:hover { color: #d32f2f; background: white; }
	.cta { display: inline-block; background: #d32f2f; color: white; padding: 12px 24px; margin-top: 48px; border-radius: 24px; text-decoration: none; transition: all .3s ease; }
	.cta:hover { text-decoration: underline !important; box-shadow: 0 0 0 6px rgba(211, 46, 46, 0.4); }
	@keyframes fadein {
	  from { opacity: 0; }
	  to   { opacity: 1; }
	}
	@keyframes fadeout {
	  from { opacity: 0; }
	  to   { opacity: 1; }
	}
	@keyframes pulse {
	  from { box-shadow: 0 0 0 0px rgba(211, 47, 47); }
	  to { box-shadow: 0 0 0 15px rgba(0, 0, 0, 0); }
	}

	==================================== */

	/* inspired by this article/tutorial > https://curated.email/hotspots-in-email */
